@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', sans-serif;
        -webkit-tap-highlight-color: transparent;

    }

    body {
        background-color: #16191e;

    }

    ::-webkit-scrollbar {
        display: none;
    }
}

.viewall {
    background: #232526;
    background: linear-gradient(to right, #2f3237, #101215);

}

.gradient {
    background-image: linear-gradient(110.3deg, rgb(34, 47, 57) 4.3%, rgba(49, 55, 82, 1) 96.7%);
}


.Artistbackground {
    background: rgb(22, 25, 30);
    background: linear-gradient(90deg, rgba(22, 25, 30, 1) 6%, rgba(0, 0, 0, 0.541) 50%, rgba(22, 25, 30, 1) 96%);
}


.boss {
    box-shadow: 12px 12px 29px #151b20, -12px -12px 29px #1a1f26;
    border-radius: 18px;
}


.active {
    color: #007aff;
}



.roll-in-left {
    -webkit-animation: roll-in-left 0.6s ease-out 5s both;
    animation: roll-in-left 0.6s ease-out 5s both;
}


@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

circle {
    fill: none;
    stroke: #007aff;
    stroke-width: 4px;
    stroke-dasharray: 132;

}